/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*@viewport {
  width: device-width;
  height: device-height;
}*/
* {
-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
-webkit-touch-callout: none;/* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
-webkit-user-select: none;  /* prevent copy paste, to allow, change 'none' to 'text' */
background-color:#95E3C3;
background-attachment:fixed;
font-family: Myriad Pro;
font-size:12px;
height:100%;
margin:0px;
padding:0px;
  /*  text-transform: capitalize;*/
width:100%;
}

/* Portrait layout (default) */
.app {
/*  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
/*  position:absolute; /* position in the center of the screen */
/*  left:50%;
top:50%;
height:50px;/* text area height */
  /*width:225px;/* text area width */
  /*text-align:center;
padding:180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
  /*margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
/* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
.app {
background-position:left center;
padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
  /* offset horizontal: half of image width and text area width */
}
}
h1 {
 font-size: 9vw;
font-weight: 600;
margin: 0px;
overflow: visible;
padding: 0px;
text-align: left;
color: #FFF;
}
h2 {
display: block;
 font-size: 6vw;
 font-weight: 100;
 color: #FFF;
}
.event {
border-radius:4px;
-webkit-border-radius:4px;
color:#FFFFFF;
font-size:12px;
margin:0px 30px;
padding:2px 0px;
behavior: url(js/PIE.htc);
}

.event.listening {
background-color:#333333;
display:block;
}

.event.received {
background-color:#4B946A;
display:none;
}

@keyframes fade {
from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}
.blink {
display: table; 
height: 100vh;
width: 100vw;
}
/*CirculosBocadillos*/
.circle {
margin-left: auto;
margin-right: auto;
border-radius: 50%;
width: 14%;
height: 14vw;
position: relative;
behavior: url(js/PIE.htc);
}
.circle-border {
border: 1px solid black;
}
.circle-solid{
background-color: whitesmoke;
}
.circle-sombra{
  margin-top: -95%;
z-index: 1;
}
.circle-main{
z-index: 2;
}
.circle:before {
content: "";
display: block;
padding-top: 100%;
}
.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}
.score-text {
margin: auto;
position: absolute;
left: 0;
bottom: 0;
right: 0;
top: 15%;
font-size: 12vw;
}
.Title-text {
 font-family: Chaparral Pro;
 font-weight: 800;
 font-size: 6vw;
}
.Content-text {
 font-family: Myriad Pro;
}
.Title-text:before{
content:"";
width: 0;
height: 0;
border­bottom: 30vw solid #8f0;
border­right: 20vw solid transparent;
border­left: 20vw solid transparent;
margin: ­30vw 0 0 90vw;
}
.speech-bubble {
background: #FFF; /* el color de fondo */
color: #50514E; /* el color del texto */
padding:  4vw  4vw 0 4vw;
text-align: center;
-moz-border-radius: 50;
-webkit-border-radius: 50;
border-radius: 50%;
border:solid  #FBE771;
border-width:0px 0px 2vw 3vw;
line-height: 6vw;
font-size: 5vw;
behavior: url(js/PIE.htc);
}
.speech-bubble:after {
border: solid transparent;
border-top-color: #FFF;
border-width: 26vw 57vw 0px 0px;
bottom: 0;
content: "";
display: block;
height: 0;
margin-left: 7%;
overflow: hidden;
position: relative;
width: 0;
border-bottom-left-radius: 2vw;
}
.conten-circle{
margin-bottom: -22vw;
z-index: 3;
display: block;
position: relative;
padding: 2vw;
}
.btn {
-webkit-border-radius: 4;
-moz-border-radius: 4;
border-radius: 4vw;
color: #ffffff;
font-size: 8vw;
background: #95E3C3;
padding: 2vw 4vw 2vw 4vw;
border: solid #ffffff 2vw;
text-decoration: none;
margin: auto;
text-align: center;
display: block;
z-index: 4;
position: relative;
width: 50%;
behavior: url(js/PIE.htc);
}
.btn:hover {
background: #95E3C3;
text-decoration: none;
}
.Content {
 vertical-align: middle;
 max-height: 100vh;
 max-width: 100vh;
 overflow: hidden;
}
.speech-bocadillo {
background: #FFF; /* el color de fondo */
color: #50514E; /* el color del texto */
padding: 1% 0% 0 0%;
text-align: center;
-moz-border-radius: 11%;
-webkit-border-radius: 11%;
border-radius: 11%;
border:solid  #FBE771;
border-width:0px 0px 2vw 3vw;
line-height: 6vw;
font-size: 5vw;
behavior: url(js/PIE.htc);

}
.speech-bocadillo :after {
border: solid transparent;
border-top-color: #FFF;
border-width: 12vw 8vw 0px 0px;
margin-left: 27%;
bottom: 0;
content: "";
display: block;
height: 0;
overflow: hidden;
position: relative;
width: 0;
border-bottom-left-radius: 2vw;
}
.conten-bocadillo{
margin-bottom: -11vw;
z-index: 3;
display: block;
position: relative;
padding: 2vw;
}
#mapa{
margin-left:-100%;
width: 46%;
margin-top: 60%;
}
#continuar1{
margin-top: 5%;
margin-left: -100%;
width: 50%;
}
#interrogacion2{
background-color: #95E3C3;
border: solid 2vw #FFF;
color: #FFF;
margin-left: 5%;
margin-top: 5%;
display: none;
margin-top: 5vw;
line-height:12vw;
font-size: 12vw;
}
#speech-bubble2{
border-color: #FBE771;
width: 67%;
height: 42vw;
margin-left: 15%;
margin-top: -100vw;
}
#img2{
width: 78%;
margin-left: -100vw;
}
#bottom2{
margin-left: 27vw;
margin-top: 200vw;
}
#h1_3{
text-decoration: underline; 
margin-left: 7vw; 
left:-100vw; 
position: absolute;
}
#h2-3-1{
margin-left: 66vw; 
margin-top: 5vw; 
position: absolute; 
right:-100vw; 
margin-right: 3vw; 
}
#h2-3-2{
margin-right: 71vw; 
margin-top: 32vw; 
position: absolute; 
right:-100vw;
}
#h2-3-3{
margin-left: 65vw; 
margin-top: 101vw; 
position:absolute; 
right:-100vw;
}
#img3-1{
width: 85%; 
margin-left: 7%; 
margin-top: 16vw; 
position:absolute; 
right:-100vw;
}
#bottom3{
margin-top: 180%;
width: 50%;
}
#speech-bocadillo3{
border-color: #B39BC5; 
width: 45%;
height: 22vw; 
margin-left: 7vw; 
margin-top: 70vw; 
margin-bottom: 6vw; 
position:absolute; 
left: -100vw;
}
#img3-2{
width: 35%; 
margin-left: 7%; 
left: -100vw; 
margin-top: 101vw; 
position:absolute;
}

#img4{
position:absolute;
 top:200vw;
 width: 86%;
 margin-left: 7%;
 margin-top: 10vw;
}
#continuar4{
margin-top: 133vw;
margin-left: 27vw;
position:absolute; 
top:200vw;
}
#h1{
margin-left: 31vw; 
color: #000; 
margin-top: 67vw; 
text-decoration: underline;
position: absolute; 
top:200vw;
}
#img4-1{
display: none;
width: 29vw;
margin-left: 35vw; 
margin-top: 27vw;
}
#img4-2{
display: none;
width: 29vw;
margin-left: 35vw; 
margin-top: 27vw;
}
#h1-5{
display: none;
text-decoration: underline;
text-align: center;
width: 100vw;
}
#h2-5{
display: none;
margin-top: 10vw;
text-align: center;
width: 100vw;
}
#circle-main5{
  display: none; 
  background-color: #7EDAD4; 
  margin-top: 4vw; 
  border: solid 2vw #FFF; 
  color: #FFF; 
  padding: 4vw 4vw 0vw 4vw;
}
#img5{
  display: none; 
  width: 29vw; 
  margin-left: 35vw; 
  margin-top: 27vw;
}
#speech-bubble6{
border-color: #FBE771; 
width: 90%; 
margin-left: 5%; 
position:absolute; 
top:200vw; 
margin-top: 16vw;
}
#img6{
width: 40%; 
margin-left: 4%; 
position:absolute; 
left:-100vw; 
margin-top: 99vw; 
}
#bottom6{
margin-left: 27vw;
margin-top: 200vw;
}
#circle-main6-1{
background-color: #7EDAD4; 
border: solid 2vw #FFF; 
color: #FFF; 
margin-top: 119vw; 
padding: 4vw 4vw 0vw 4vw; 
margin-left: 41vw; 
position:absolute; 
top:200vw;
}
#circle-main6-2{
background-color: #7EDAD4; 
border: solid 2vw #FFF; 
color: #FFF; 
margin-top: 119vw; 
padding: 4vw 4vw 0vw 4vw;
margin-left: 70vw; 
position:absolute; 
top:200vw;
}
